database/**.json**
database/*.db
database/*.db-wal
database/*.db-shm
path/
/*env/*
__pycache__/
.vscode/
.env
/testcase/*.json
/config/constants.json
/data/user_data.json
/data/assets/
/url/
private-shop/
*.key
